<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading">Keyword Cloud</div>
        <div class="panel-body">
            <canvas width="240em" height="240em" id="CloudTag-3D-Canvas">
                <p>Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>

            <div id="ExtendCloudTag" style="display: none">
                <ul>
                    {% for keyword in keywords_cloud %}
                    <li><a href="{{ url_for('resource.article', username=current_user.name, keyword_id=keyword.id) }}">{{ keyword.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Aritcle Category</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="#">Home<span class="badge pull-right">42</span></a></li>
                    <li role="presentation"><a href="#">Profile<span class="badge pull-right">45</span></a></li>
                    <li role="presentation"><a href="#">Messages<span class="badge pull-right">23</span></a></li>
                </ul>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Similar Article</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="#">Home is My life <span class="badge pull-right">42</span></a></li>
                    <li role="presentation"><a href="#">图形界面虽然好看，解决问题还是要靠命令行<span class="badge pull-right">45</span></a></li>
                    <li role="presentation"><a href="#">Pointfree 编程风格指南<span class="badge pull-right">23</span></a></li>
                </ul>
        </div>
    </div>

</div>