<div class="comments-form">
    <h2 class="title">Add your comment</h2>
    <form role="form" method="post" id="CommentForm" action="{{ url_for('resource.comment', user_id=current_user.id, article_id=article.id) }}">
        <div class="form-group has-feedback hide">
            <label for="inputCommentReplyToUserName">Reply To</label>
            <input type="text" id="inputCommentReplyToUserName" class="form-control" disabled>
            <input type="text" id="inputCommentReplyToCommentID" class="form-control hide" disabled  name="reply_to_comment_id">
        </div>
        <div class="form-group has-feedback">
            <label for="inputCommentReplyContent">Message</label>
            <textarea class="form-control" rows="8" id="inputCommentReplyContent" placeholder="" name="content" required=""></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
</div>