{% from 'macro/__frame__.html' import frame_search, page_navigation %}
{% import 'macro/__article__.html' as article %}
{% extends "framework.html" %}
{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/post.css') }}" crossorigin="anonymous">
<script src="{{ url_for('static', filename = 'js/jquery.tagcanvas.min.js') }}" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var pre_set_color = {
            0:   'red',
            0.5: 'orange',
            1:   'rgba(0,0,0,0.1)'
        };
        var counter = 0;
        var tag_option = {
            interval: 20,
            textFont: 'Arial, Helvetica, sans-serif',
            textColour: '#337ab7',
            textHeight: 25,
            outlineMethod: 'colour',
            outlineColour: 'red',
            outlineThickness: 1,
            maxSpeed: 0.04,
            minSpeed: 0.01,
            minBrightness: 0.1,
            depth: 0.92,
            outlineOffset: 0,
            shadowOffset: [1,1],
            stretchX: 0.7,
            pulsateTo: 0.2,
            pulsateTime: 0.75,
            initial: [0.1,-0.1],
            decel: 0.98,
            reverse: true,
            wheelZoom: false,
            hideTags: false,
            shuffleTags: true,
            shadow: '#ccf',
            shadowBlur: 3,
            weight: true,
            weightFrom: 'data-weight',
            weightGradient: pre_set_color,
            clickToFront: 600,
            weightMode:'both',
            fadeIn: 800
        };
        $("#CloudTag-3D-Canvas").tagcanvas(tag_option, 'ExtendCloudTag');
    });
</script>
{% endblock script %}
{% block title %}Blog{% endblock title %}
{% block content %}
<!-- 面板 -->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <article class="clearfix blogpost object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
            <div class="overlay-container">
                <img src="{{ url_for('static', filename = 'img/blog-1.jpg') }}" alt="">
            </div>
            <div class="blogpost-body">
                <div class="post-info">
                    <span class="day">12</span>
                    <span class="month">Sept 2014</span>
                </div>
                <div class="blogpost-content">
                    <header>
                        <h2 class="title"><a href="{{ url_for('.one_article', username=current_user.name, article_id=1) }}">Blogpost with image</a></h2>
                        <div class="submitted">
                            <i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a>
                        </div>
                    </header>
                    <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                </div>
            </div>
            <footer class="clearfix">
                <ul class="links pull-left">
                    <li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>
                    <li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a> </li>
                </ul>
                <a class="pull-right link" href="{{ url_for('.one_article', username=current_user.name, article_id=1) }}"><span>Read more</span></a>
            </footer>
        </article>

        <article class="clearfix blogpost object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
            <div class="blogpost-body">
                <div class="post-info">
                    <span class="day">12</span>
                    <span class="month">Sept 2014</span>
                </div>
                <div class="blogpost-content">
                    <header>
                        <h2 class="title"><a href="{{ url_for('.one_article', username=current_user.name, article_id=2) }}">Blogpost with image</a></h2>
                        <ul class="links pull-right">
                            <li><a href="#"><i class="fa fa-comments"></i>22</a></li>
                            <li>&nbsp;</li>
                            <li><a href="#"><i class="fa fa-heart"></i>3</a> </li>
                            <li>&nbsp;</li>
                        </ul>
                        <div class="submitted">
                            <i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a>
                        </div>
                    </header>
                    <img src="{{ url_for('static', filename = 'img/blog-1.jpg') }}" alt="">
                    <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                </div>
            </div>
            <footer class="clearfix">
                <ul class="links pull-left">
                    <li><i class="fa fa-tags pr-5"></i>
                        <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a>
                    </li>
                </ul>
                <a class="pull-right link" href="{{ url_for('.one_article', username=current_user.name, article_id=1) }}">
                    <span class="glyphicon glyphicon-link"></span>
                    <span>Read more</span>
                </a>
            </footer>

        </article>

        <article class="clearfix blogpost object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
            <div class="blogpost-body">
                <div class="post-info">
                    <span class="day">12</span>
                    <span class="month">Sept 2014</span>
                </div>
                <div class="blogpost-content">
                    <header>
                        <h2 class="title"><a href="{{ url_for('.one_article', username=current_user.name, article_id=1) }}">Blogpost with image</a></h2>
                        <ul class="links pull-right">
                            <li><a href="#"><i class="fa fa-comments"></i>22</a></li>
                            <li>&nbsp;</li>
                            <li><a href="#"><i class="fa fa-heart"></i>3</a> </li>
                            <li>&nbsp;</li>
                        </ul>
                        <div class="submitted">
                            <i class="fa fa-user pr-5"></i> by <a href="#">John Doe</a>
                        </div>
                    </header>
                    <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                </div>
            </div>
            <footer class="clearfix">
                <ul class="links pull-left">
                    <li><i class="fa fa-tags pr-5"></i>
                        <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a>
                    </li>
                </ul>
                <a class="pull-right link" href="{{ url_for('.one_article', username=current_user.name, article_id=1) }}">
                    <span class="glyphicon glyphicon-link"></span>
                    <span>Read more</span>
                </a>
            </footer>

        </article>


    </div>
    <!-- 评论使用 -->
    <div class="panel-footer">
    </div>



</div>

{% endblock content %}

{% block sidebar %}
{% include "resources/blog/_article_side.html" %}
{% endblock sidebar %}
