{% import 'resources/__macro__.html' as tools %}
{% extends "resources/user_frame.html" %}
{% block script %}
<!-- bootstrap summernote edit tool css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/summernote.css') }}" crossorigin="anonymous">
<!-- bootstrap summernote edit tool js -->
<script src="{{ url_for('static', filename = 'js/summernote.min.js') }}" crossorigin="anonymous"></script>
<!--<script src="{{ url_for('static', filename = 'lang/summernote-zh-CN.min.js') }}" crossorigin="anonymous"></script>-->

<script src="{{ url_for('static', filename = 'js/markdown.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename = 'js/to-markdown.js') }}" crossorigin="anonymous"></script>

<!-- bootstrap markdown edit tool css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-markdown.min.css') }}" crossorigin="anonymous">
<!-- bootstrap markdown edit tool js -->
<script src="{{ url_for('static', filename = 'js/bootstrap-markdown.min.js') }}" crossorigin="anonymous"></script>

<!-- bootstrap tags input css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-tagsinput.css') }}" crossorigin="anonymous">
<!-- bootstrap tags input js -->
<script src="{{ url_for('static', filename = 'js/bootstrap-tagsinput.min.js') }}" crossorigin="anonymous"></script>
<!-- bootstrap validator css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrapValidator.min.css') }}" crossorigin="anonymous">
<!-- bootstrap validator js -->
<script src="{{ url_for('static', filename = 'js/bootstrapValidator.min.js') }}" crossorigin="anonymous"></script>
<!--<script src="{{ url_for('static', filename = 'js/formValidation.js') }}" crossorigin="anonymous"></script>-->
<script type="text/javascript">
    $(document).ready(function() {
        $('.selectpicker').selectpicker({
            style: 'btn-info',
            liveSearch: true,
            size: 4
        });
//        $('#summernote_edit_tool').summernote(
//                {
//                    height: 300,                 // set editor height
//                    minHeight: null,             // set minimum height of editor
//                    maxHeight: null,             // set maximum height of editor
//                    focus: true                  // set focus to editable area after initializing summernote
//                }
//        );
//        $('#bootstrap_markdown_edit_tool').markdown(
//                {
//                    height: 360,                 // set editor height
//                    autofocus: true,                  // set focus to editable area after initializing summernote
//                    onPreview: function(e) {
//                        var previewContent = e.getContent();
//                        if (e.isDirty()) {
//                            previewContent = e.parseContent();
//                        } else if (previewContent.length > 0) {
//                            previewContent = e.setContent(previewContent);
//                        }
//
//                        return previewContent;
//                    }
//                }
//        );
        var elt = $('#inputKeyword');
        elt.tagsinput({
            onTagExists: function(item, $tag) {
                $tag.hide().fadeIn();
            },
            itemValue: 'value',
            itemText: 'text',
//            trimValue: true,
            maxTags: 5,
            maxChars: 8
        });
//        elt.tagsinput('add', { id: 1, value:1, text: 'some tag' });
        var MAX_OPTIONS = 5;
        $('#blogArticleForm')
                .bootstrapValidator({
                    framework: 'bootstrap',
                    excluded: [':disabled'],
                    message: 'This value is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        title: {
                            validators: {
                                notEmpty: {
                                    message: 'The article title required and cannot be empty'
                                }
                            }
                        },
                        'summernote_content': {
                            validators: {
                                callback: {
                                    message: 'The content is required and cannot be empty',
                                    callback: function(value, validator, $field) {
                                        var code = $('[name="summernote_content"]').summernote('code');
                                        // <p><br></p> is code generated by Summernote for empty content
                                        return (code !== '' && code !== '<p><br></p>');
                                    }
                                }
                            }
                        },
                        'markdown_content': {
                            validators: {
//                                callback: {
//                                    message: 'The content is required and cannot be empty',
//                                    callback: function(value, validator, $field) {
//                                        var code = $('[name="markdown_content"]').data('markdown').parseContent();
//                                        console.log(code);
//                                        // <p><br></p> is code generated by Summernote for empty content
//                                        return (code !== '' && code !== '<p><br></p>');
//                                    }
//                                }
                                validators: {
                                notEmpty: {
                                    message: 'The content is required and cannot be empty'
                                }
                            }
                            }
                        },
                        'reference_links_box[]': {
                            validators: {
                                uri: {
                                    allowLocal: true,
                                    message: 'The input is not a valid URL'
                                }

                            }
                        }
                    }
                })


                .on('error.field.bv', function(e, data) {
                    //console.log('error.field.bv -->', data.element);
                    var $tabPane = data.element.parents('.tab-pane'),
                            tabId    = $tabPane.attr('id');

                    $('a[href="#' + tabId + '"][data-toggle="tab"]')
                            .parent()
                            .find('i')
                            .removeClass('fa-check')
                            .addClass('fa-times');
                })
                .on('success.field.bv', function(e, data) {
                    //console.log('success.field.bv -->', data.element);
                    var $tabPane = data.element.parents('.tab-pane'),
                            tabId    = $tabPane.attr('id'),
                            $icon    = $('a[href="#' + tabId + '"][data-toggle="tab"]')
                                    .parent()
                                    .find('i')
                                    .removeClass('fa-check fa-times');




                    // Use Ajax to submit form data
                    e.preventDefault();
                    // Get the form instance
                    var $form = $(e.target);

                    // Get the bootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');

                    $.post($form.attr('action'), $form.serialize(), function(result) {
                        console.log(result);
                        console.log('haha-----------------');
                    }, 'json');
                })
                .on('added.field.bv', function(e, data) {
                    //console.log('Added element -->', data.field, data.element);
                    if (data.field === 'reference_links_box[]') {
                        if ($('#blogArticleForm').find(':visible[name="reference_links_box[]"]').length >= MAX_OPTIONS) {
                            $('#blogArticleForm').find('a.addReferenceLinks').attr('disabled', 'disabled');
                        }
                    }
                })
                .on('removed.field.bv', function(e, data) {
                    //console.log('Removed element -->', data.field, data.element);
                    if (data.field === 'reference_links_box[]') {
                        if ($('#blogArticleForm').find(':visible[name="reference_links_box[]"]').length < MAX_OPTIONS) {
                            $('#blogArticleForm').find('a.addReferenceLinks').removeAttr('disabled');
                        }
                    }
                })

                .on('click', 'a.addReferenceLinks', function() {
                    var index = $(this).data('index');
                    if (!index) {
                        index = 1;
                        $(this).data('index', 1);
                    }
                    index++;
                    $(this).data('index', index);

                    var     $templateEle = $('#url_reference_link_template'),
                            $row         = $templateEle.clone().removeAttr('id').insertBefore($templateEle).removeClass('hide'),
                            $el          = $row.find('input').eq(0).attr('name', 'reference_links_box[]');
                    $('#blogArticleForm').bootstrapValidator('addField', $el);

                    // Set random value for checkbox and textbox
                    $el.attr('placeholder', 'URL #' + index);


                    $row.on('click', 'a.removeReferenceLinks', function(e) {
                        $('#blogArticleForm').bootstrapValidator('removeField', $el);
                        $row.remove();
                    });
                })

                .find('#summernote_edit_tool')
                .summernote({
                    height: 300,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: true
                })
                .on('summernote.change', function(customEvent, contents, $editable) {
                    // Revalidate the content when its value is changed by Summernote
                    $('#blogArticleForm').bootstrapValidator('revalidateField', 'summernote_content');
                })
                .end()
                .find('#summernote_edit_tool')
                .summernote({
                    height: 300,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: true
                })
                .on('summernote.change', function(customEvent, contents, $editable) {
                    // Revalidate the content when its value is changed by Summernote
                    $('#blogArticleForm').bootstrapValidator('revalidateField', 'summernote_content');
                })
                .end();

    });
</script>
{% endblock script %}
{% block title %}Blog{% endblock title %}
{% block content %}
<!-- 面板 -->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="page-header">
            <h1>Write Article</h1>
        </div>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" id="blogArticleForm" method="post" action="write_article">
            <div class="form-group">
                <label for="inputArticleTitle" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputArticleTitle" name="title" placeholder="Article Title">
                </div>
            </div>

            <div class="form-group">
                <label for="inputArticleSource" class="col-sm-2 control-label">Source</label>
                <div class="col-sm-10">
                    <div class="btn-group" data-toggle="buttons" id="inputArticleSource">
                        <label class="btn btn-primary active">
                            <input type="radio" name="source" id="source_original" value="original" autocomplete="off" checked> Original
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="source" id="source_quote" value="quote" autocomplete="off"> Quote
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="source" id="source_other" value="other" autocomplete="off"> Other
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="selectCategory" class="col-sm-2 control-label">Category</label>
                <div class="col-sm-10">
                    <select class="selectpicker" id="selectCategory" name="category">
                        <option value="Mustard">Mustard</option>
                        <option value="Ketchup">Ketchup</option>
                        <option value="Relish">Relish</option>
                    </select>
                    &nbsp;
                    <a class="link" href="#"><span class="fa fa-plus"></span></a>
                </div>
            </div>

            <div class="form-group">
                <label for="inputArticleSource" class="col-sm-2 control-label">Content</label>
                <div class="col-sm-10">
                    <!-- tabs -->
                    <div class="tabs-x align-center tabs-above tab-bordered">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#summernote_edit_tab_pane" data-toggle="tab">Normal</a></li>
                            <li><a href="#markdown_edit_tab_pane" data-toggle="tab">Markdown</a></li>
                        </ul>
                        <div class="tab-content" id="article_edit_pane">
                            <div class="tab-pane active" id="summernote_edit_tab_pane">
                                <textarea id="summernote_edit_tool" name="summernote_content"></textarea>
                            </div>
                            <div class="tab-pane" id="markdown_edit_tab_pane">
                                <textarea name="markdown_content" data-provide="markdown" style="resize: none; display: block;" rows="6" id="bootstrap_markdown_edit_tool"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputKeyword" class="col-sm-2 control-label">Keyword</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select multiple data-role="tagsinput" id="inputKeyword">
                            <option value="Amsterdam">Amsterdam</option>
                            <option value="Washington">Washington</option>
                            <option value="Sydney">Sydney</option>
                            <option value="Beijing">Beijing</option>
                            <option value="Cairo">Cairo</option>
                        </select>

                    </div><!-- /input-group -->
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <div class="alert alert-warning">
                        <a href="#"><span class="label label-default">Default</span></a>
                        <a href="#"><span class="label label-primary">Primary</span></a>
                        <a href="#"><span class="label label-success">Success</span></a>
                        <a href="#"><span class="label label-info">Info</span></a>
                        <a href="#"><span class="label label-warning">Warning</span></a>
                        <a href="#"><span class="label label-danger">Danger</span></a>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="inputReferenceLinks" class="col-sm-2 control-label">Reference links</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a href="javascript:void(0);" class="addReferenceLinks"><i class="glyphicon glyphicon-plus"></i></a>
                        </span>
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-link"></i>
                        </span>
                        <input type="text" class="form-control" id="inputReferenceLinks" name="reference_links_box[]" placeholder="URL #1">
                    </div>
                </div>
            </div>

            <div class="form-group hide" id="url_reference_link_template">
                <label class="col-sm-2 control-label">
                </label>
                <div class="col-sm-10">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <a href="javascript:void(0);" class="removeReferenceLinks"><i class="glyphicon glyphicon-minus"></i></a>
                            </span>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked name="enable_comment"> Enable Comment
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="cancel" class="btn btn-default">cancel</button>
                    <button type="preview" class="btn btn-default">preview</button>
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>
    <!-- 评论使用 -->
    <div class="panel-footer">
        Comment
    </div>



</div>

{% endblock content %}

{% block sidebar %}
<div>
    {{ tools.blog_sider_manage_menu_navigation('WriteArticle') }}
</div>

{% endblock sidebar %}

{% block footer %}{% endblock footer %}
