{% from 'macro/__frame__.html' import frame_search, page_navigation %}
{% from 'macro/__admin__.html' import admin_article_menu_navigation %}
{% import 'manage/frame/__macro__.html' as tools %}
{% extends "framework.html" %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#check_all_box").change(
                    function(){
                        if(this.checked){
                            $("input[name='check_box[]']").attr("checked", true);
                        }else{
                            $("input[name='check_box[]']").attr("checked", false);
                        }
                    }
            )
    });
</script>
{% endblock script %}
{% block title %}Sensitive Word{% endblock title %}
{% block search %}
    {{frame_search('sensitive_word')}}
{% endblock search %}

{% block content %}
    <!-- 面板 -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Add Language Rule</div>
        <div class="panel-body">
            <form class="form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="fa fa-file-word-o"></span></span>
                            <input type="text" class="form-control" placeholder="Key Word" aria-describedby="basic-addon1">
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-file-text-o"></span>
                            </span>
                            <select class="form-control">
                                <option>Select Replace Text</option>
                                <option>*</option>
                                <option>#</option>
                                <option>''</option>
                            </select>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <br>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Priority
                            </span>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="input-group">

                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <br>

                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-default">Add</button>
                            <button type="submit" class="btn btn-default">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="check_all_box" >
                    </th>
                    <th>ID</th>
                    <th>Key Word</th>
                    <th>Replace Text</th>
                    <th>Priority</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="checkbox" name="check_box[]" value="option1" aria-label="...">
                    </td>
                    <td scope="row">1</td>
                    <td>Mark</td>
                    <td>*</td>
                    <td>1</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="#"><span class="fa fa-remove"></span></a>
                            <a href="#"><span class="fa fa-lock"></span></a>
                            <a href="#"><span class="fa fa-unlock"></span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <input type="checkbox" name="check_box[]" value="option1" aria-label="...">
                    </td>
                    <td scope="row">2</td>
                    <td>Mark</td>
                    <td>*</td>
                    <td>1</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="#"><span class="fa fa-remove"></span></a>
                            <a href="#"><span class="fa fa-lock"></span></a>
                            <a href="#"><span class="fa fa-unlock"></span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <input type="checkbox" name="check_box[]" value="option1" aria-label="...">
                    </td>
                    <td scope="row">3</td>
                    <td>Mark</td>
                    <td>#</td>
                    <td>3</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="#"><span class="fa fa-remove"></span></a>
                            <a href="#"><span class="fa fa-lock"></span></a>
                            <a href="#"><span class="fa fa-unlock"></span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <input type="checkbox" name="check_box[]" value="option1" aria-label="...">
                    </td>
                    <td scope="row">4</td>
                    <td>Mark</td>
                    <td>*</td>
                    <td>1</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="#"><span class="fa fa-remove"></span></a>
                            <a href="#"><span class="fa fa-lock"></span></a>
                            <a href="#"><span class="fa fa-unlock"></span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <input type="checkbox" name="check_box[]" value="option1" aria-label="...">
                    </td>
                    <td scope="row">5</td>
                    <td>Mark</td>
                    <td>*</td>
                    <td>1</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="#"><span class="fa fa-remove"></span></a>
                            <a href="#"><span class="fa fa-lock"></span></a>
                            <a href="#"><span class="fa fa-unlock"></span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <input type="checkbox" name="check_box[]" value="option1" aria-label="...">
                    </td>
                    <td scope="row">6</td>
                    <td>Mark</td>
                    <td>*</td>
                    <td>1</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="#"><span class="fa fa-remove"></span></a>
                            <a href="#"><span class="fa fa-lock"></span></a>
                            <a href="#"><span class="fa fa-unlock"></span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <input type="checkbox" name="check_box[]" value="option1" aria-label="...">
                    </td>
                    <td scope="row">7</td>
                    <td>Mark</td>
                    <td>*</td>
                    <td>1</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="#"><span class="fa fa-remove"></span></a>
                            <a href="#"><span class="fa fa-lock"></span></a>
                            <a href="#"><span class="fa fa-unlock"></span></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ tools.page_navigation(10, 1, 'http://test.com/page') }}
{% endblock content %}

{% block sidebar %}
    {{ admin_article_menu_navigation('Sensitive Word') }}
{% endblock sidebar %}

