{% from 'macro/__frame__.html' import frame_search, menu_paging %}
{% import 'macro/__message__.html' as message_side %}
{% extends "framework.html" %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function() {

    });
</script>
{% endblock script %}
{% block title %}Message Sent{% endblock title %}
{% block search %}
{{frame_search('messaging')}}
{% endblock search %}

{% block content %}
<!-- 面板 -->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <div class="input-group-btn">
            <div class="bs-bars pull-left">
                <div id="toolbar">
                    <button id="remove" data-ajax-url="{{url_for('resource.delete_source', username=current_user.name)}}" class="btn btn-danger" disabled="">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </button>
                </div>
            </div>
            <div class="columns columns-right btn-group pull-right">
                <!-- 添加目录的对话框 -->
                <button type="button" class="btn btn-default" data-toggle="modal" aria-label="Add" title="Add" data-target="#add_source">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>


                <button class="btn btn-default" type="button" name="refresh" aria-label="refresh" title="Refresh">
                    <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                </button>
                <div class="keep-open btn-group" title="Order">
                    <button type="button" aria-label="columns" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" name="order-table">
                        <li><a href="{{ url_for('resource.source', username=current_user.name, page=page, page_size=page_size, order_name='id', order_direction='asc') }}">ID</a></li>
                        <li><a href="{{ url_for('resource.source', username=current_user.name, page=page, page_size=page_size, order_name='title', order_direction='asc') }}">Username</a></li>
                        <li><a href="{{ url_for('resource.source', username=current_user.name, page=page, page_size=page_size, order_name='view_count', order_direction='asc') }}">Email</a></li>
                    </ul>
                </div>
                <div class="export btn-group">
                    <button class="btn btn-default dropdown-toggle" aria-label="export type" title="Export data" data-toggle="dropdown" type="button">
                        <i class="glyphicon glyphicon-export icon-share"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem" data-type="json"><a href="javascript:void(0)">JSON</a></li>
                        <li role="menuitem" data-type="xml"><a href="javascript:void(0)">XML</a></li>
                        <li role="menuitem" data-type="csv"><a href="javascript:void(0)">CSV</a></li>
                        <li role="menuitem" data-type="txt"><a href="javascript:void(0)">TXT</a></li>
                        <li role="menuitem" data-type="sql"><a href="javascript:void(0)">SQL</a></li>
                        <li role="menuitem" data-type="excel"><a href="javascript:void(0)">MS-Excel</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right search">
                <form id="TableSearchForm" action="{{ url_for('resource.source', username=current_user.name, page=page, page_size=page_size)}}" method="post">
                    <input class="form-control" placeholder="Search" id="inputTableSearch" name="content" type="text">
                </form>
            </div>
        </div>
    </div>
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="check_all_box" name='check_box[]'>
                </th>
                <th>ID</th>
                <th>Subject</th>
                <th>Content</th>
                <th>To</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            {% for message in message_list %}
            <tr>
                <td>
                    <input type="checkbox" name="check_box[]" value="{{ message.id }}">
                </td>
                <td scope="row">{{ message.id }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.content }}</td>
                <td>{% for receiver in message.receivers %}{{ receiver.name }}{% endfor %}</td>
                <td>{{ message.create_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{{ menu_paging(page_size, page, query_size, current_url) }}
{% endblock content %}

{% block sidebar %}
{{ message_side.message_menu_navigation('Be Sent') }}
{% endblock sidebar %}

