{% from 'macro/__frame__.html' import frame_search, page_navigation %}
{% import 'macro/__article__.html' as article %}
{% extends "framework.html" %}

{% block title %}message{% endblock %}
{% block css %}
<style type="text/css">

    #table1{
        font: bold 16px/1.4em "Trebuchet MS", sans-serif;
    }
    #table1 thead th{
        padding: 15px;
        border: 1px solid #93CE37;
        border-bottom: 3px solid #9ED929;
        text-shadow: 1px 1px 1px #568F23;
        color: #fff;
        background-color: #9DD929;
        border-radius: 5px 5px 0px 0px;
    }
    #table1 thead th:empty{
        background-color: transparent;
        border: none;
    }
    #table1 tbody th{
        padding: 0px 10px;
        border: 1px solid #93CE37;
        border-right: 3px solid #9ED929;
        text-shadow: 1px 1px 1px #568F23;
        color: #666;
        background-color: #9DD929;
        border-radius: 5px 0px 0px 5px;
    }
    #table1 tbody td{
        padding: 10px;
        border: 2px solid #E7EFE0;
        text-align: center;
        text-shadow: 1px 1px 1px #fff;
        color: #666;
        background-color: #DEF3CA;
        border-radius: 2px;
    }

    #table1 tfoot td{
        padding: 10px 0px;
        font-size: 32px;
        color: #9CD009;
        text-align: center;
        text-shadow: 1px 1px 1px #444;
    }
</style>
{% endblock %}
{% block content %}
<table id="table1">
    <thead>
    <tr>
        <th scope="col" abbr="Starter">ID</th>
        <th scope="col" abbr="Medium">Message Subject</th>
        <th scope="col" abbr="Business">Message Detail</th>
        <th scope="col" abbr="Business">From ID</th>
        <th scope="col" abbr="Deluxe">Time</th>
    </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
    {% for message in messages %}
    {% if message %}
    <tr>
        <td>{{message.id}}</td>
        <td>{{message.message_subject}}</td>
        <td>{{message.message_detail}}</td>
        <td>{{message.from_id}}</td>
        <td>{{message.create_at}}</td>
    </tr>
    {% else %}
    <td>Nothing</td>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}
