{% extends "bootstrap/base.html" %}

{% block title %}test{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<style type="text/css">
        *{
            margin: 0;
            padding: 0;
        }
        body{
            font: italic 20px Georgia, serif;
            letter-spacing: normal;
            background-color: #f0f0f0;
        }
        #content{
            width: 750px;
            padding: 40px;
            margin: 0 auto;
            background-color: #fff;
            border-left: 30px solid #1D81B6;
            border-right: 1px solid #ddd;
            box-shadow: 0px 0px 16px #aaa;
        }
        #table1{
            font: bold 16px/1.4em "Trebuchet MS", sans-serif;
        }
        #table1 thead th{
            padding: 15px;
            border: 1px solid #93CE37;
            border-bottom: 3px solid #9ED929;
            text-shadow: 1px 1px 1px #568F23;
            color: #fff;
            background-color: #9DD929;
            border-radius: 5px 5px 0px 0px;
        }
        #table1 thead th:empty{
            background-color: transparent;
            border: none;
        }
        #table1 tbody th{
            padding: 0px 10px;
            border: 1px solid #93CE37;
            border-right: 3px solid #9ED929;
            text-shadow: 1px 1px 1px #568F23;
            color: #666;
            background-color: #9DD929;
            border-radius: 5px 0px 0px 5px;
        }
        #table1 tbody td{
            padding: 10px;
            border: 2px solid #E7EFE0;
            text-align: center;
            text-shadow: 1px 1px 1px #fff;
            color: #666;
            background-color: #DEF3CA;
            border-radius: 2px;
        }

        #table1 tfoot td{
            padding: 10px 0px;
            font-size: 32px;
            color: #9CD009;
            text-align: center;
            text-shadow: 1px 1px 1px #444;
        }
    </style>

{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">index</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    <li><a href="">write article</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">


                {% if current_user.is_authenticated %}
                    <li><a href="">Messages</a></li>
                    <li class="dropdown">
                        <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ current_user.gravatar(size=18) }}"> {{ current_user.name }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.user', name=current_user.name) }}">Personal Homepage</a></li>
                            <li><a href="{{ url_for('auth.change_password')}}">Change Password</a></li>
                            <li><a href="{{ url_for('auth.change_email_request')}}">Change Email</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('main.logs', name=current_user.name) }}">Logs</a></li>
                    {% if current_user.has_right('manage', 'show') %}
                        <li class="dropdown">
                            <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                                Manage<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">User</a></li>
                                <li><a href="">Role</a></li>
                                <li><a href="">Right</a></li>
                                <li><a href="">Resource</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class='col-md-9 col-sm-9'>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
{% endblock%}