<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock title %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-theme.min.css') }}" crossorigin="anonymous">

    <!-- bootstrap select css, 用于下拉选择 -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-select.min.css') }}" crossorigin="anonymous">
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
    <!-- bootstrap select js -->
    <script src="{{ url_for('static', filename = 'js/bootstrap-select.min.js') }}" crossorigin="anonymous"></script>
    <!-- bootstrap icheck js -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/icheck/skins/all.css') }}" crossorigin="anonymous">
    <script src="{{ url_for('static', filename = 'js/icheck.min.js') }}" crossorigin="anonymous"></script>

    <!-- bootstrap tabs css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-tabs-x.min.css') }}" crossorigin="anonymous">
    <!-- bootstrap tabs js -->
    <script src="{{ url_for('static', filename = 'js/bootstrap-tabs-x.min.js') }}" crossorigin="anonymous"></script>

    <!-- bootstrap codemirror css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/codemirror.min.css') }}" crossorigin="anonymous">
    <!-- bootstrap codemirror js -->
    <script src="{{ url_for('static', filename = 'js/codemirror.min.js') }}" crossorigin="anonymous"></script>
    <!-- bootstrap bootbox js，用于alert类似的弹出确认框 -->
    <script src="{{ url_for('static', filename = 'js/bootbox.min.js') }}" crossorigin="anonymous"></script>
    <!-- jquery scrollUp js，用于滚轮 -->
    <script src="{{ url_for('static', filename = 'js/jquery.scrollUp.min.js') }}" crossorigin="anonymous"></script>

    <!-- Latest font awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" crossorigin="anonymous">
    <style type="text/css">
        .selectContainer .form-control-feedback {
            /* Adjust feedback icon position */
            right: -15px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            // 修复bootstrap 添加 disabled class时依然能够点击的bug
            $(".disabled").click(function (event) {
                event.preventDefault();
            });
            // 添加工具提示
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            // 点击事件，获取选中的数据，然后删除
            $("button#remove").click(function(){
                var ids = new Array();
                var request_url = $(this).attr('data-ajax-url');
                $("tbody tr").find("input:checkbox").each(function(){

                    if (this.checked){
                        ids.push(this.value);
                    }
                });
                bootbox.confirm("Are you sure?", function(result){
                    if(result && ids.length > 0){
                        $.post(request_url, {"ids":ids.join(',')}, function(data){
                            bootbox.alert({
                                size: "small",
                                title: "Message",
                                message: data,
                                callback: function(){ location.reload() }
                            });
                        });
                    }
                });

            });
            // 刷新页面
            $('button[name="refresh"]').click(function(){
                location.reload();
            });
            // Table上的搜索框按回车键触发搜索
            $("#inputTableSearch").bind('keydown',function(e){
                if(e.keyCode == "13"){
                    $("#TableSearchForm").submit();
                }
            });
        });

        // 滚轮
        var shiftWindow = function () {
            scrollBy(0, -75)
        };

        window.addEventListener("hashchange", shiftWindow);

        function load() {
            if (window.location.hash) {
                shiftWindow();
            }
        }

    </script>
    {% block css %}{% endblock css %}
    {% block script %}{% endblock script %}

</head>
<body>
{% block body %}
<!--- navbar-inverse, navbar-static-top, navbar-fixed-top, navbar-fixed-bottom --->
<header class="navbar navbar-default navbar-static-top">
    <!--- container-fluid 导航条扩展 --->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#base-frame-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" id="top">
                <!--- 这里放置logo --->
                <img alt="Brand" src="#">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="collapse navbar-collapse" id="base-frame-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('resource.index')}}">Index <span class="sr-only">(current)</span></a></li>
                <li><a href="blog">Blog</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('manage.user') }}">User</a></li>
                        <li><a href="{{ url_for('manage.role') }}">Role</a></li>
                        <li><a href="{{ url_for('manage.right') }}">Right</a></li>
                        <li><a href="{{ url_for('manage.resource') }}">Resource</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('manage.article') }}">Article</a></li>
                        <li><a href="{{ url_for('manage.comment') }}">Comment</a></li>
                        <li><a href="{{ url_for('manage.keyword') }}">Keyword</a></li>
                        <li><a href="{{ url_for('manage.category') }}">Category</a></li>
                        <li><a href="{{ url_for('manage.sensitive_word') }}">Sensitive Word</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('manage.action_log') }}">Action Log</a></li>
                        <li><a href="{{ url_for('manage.audit_log') }}">Audit Log</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('manage.messaging') }}">Message</a></li>
                    </ul>
                </li>
            </ul>
            {% block search %}{% endblock search %}

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <!-- 为了增加图标大小相对于它们的容器, 使用 fa-lg (33% 递增), fa-2x, fa-3x, fa-4x, 或 fa-5x classes.  -->
                <li><a href="{{ url_for('resource.messaging', username=current_user.name)}}"><i class="fa fa-envelope-o fa-lg"></i><span class="badge">42</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ current_user.name }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('resource.profile', username=current_user.name) }}">Profile</a></li>
                        <li><a href="{{ url_for('resource.article', username=current_user.name)}}">Article</a></li>
                        <li><a href="{{ url_for('resource.messaging', username=current_user.name) }}">Message</a></li>
                        <li><a href="{{ url_for('resource.setting', username=current_user.name) }}">Setting</a></li>
                        <li><a href="{{ url_for('resource.action_log', username=current_user.name) }}">Action Log</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.register') }}">Sign In</a></li>
                <li><a href="{{ url_for('auth.login') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav><!-- /.navbar-collapse -->
    </div>
</header>
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}{% endblock sidebar %}
        </div>
        <div class="col-md-9">
            {% block content %}
            <!-- 页头 -->
            {% block breadcrumb %}{% endblock breadcrumb %}
            {% block main_content %}{% endblock main_content %}
            {% block others %}{% endblock others %}

            {% endblock content %}
        </div>

    </div>
</div>
{% block footer %}{% endblock footer %}
{% endblock page_content %}

{% endblock body %}
{#<a id="scroll-up-btn" href="#top" style="position: fixed; z-index: 2147483647; display: block;"><i class="fa fa-2x fa-arrow-circle-up"></i></a>#}

</body>
</html>