{% from 'macro/__frame__.html' import frame_search, menu_paging %}
{% from 'macro/__admin__.html' import admin_menu_navigation %}
{% import 'manage/frame/__macro__.html' as tools %}
{% extends "framework.html" %}
{% block script %}
    <!-- bootstrap-switch css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-switch.min.css') }}" crossorigin="anonymous">
    <!-- bootstrap-switch js -->
    <script src="{{ url_for('static', filename = 'js/bootstrap-switch.min.js') }}" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#check_all_box").on('ifChanged',
                    function(event){
                        var checkbox = $("input[name='check_box[]']");
                        if(this.checked){
                            checkbox.iCheck('check');
                            $("button#remove").attr('disabled', false);
                        }else{
                            checkbox.iCheck('uncheck');
                            $("button#remove").attr('disabled', true);
                        }
                    }
            );
            // 单选和取消 checkbox时，对相关按钮的禁用和启用
            $("input[name='check_box[]']").on('ifChanged', function(e, d){
                var checkbox = $(this);
                if(this.checked){
                    checkbox.parents('tr').addClass('info');
                    $("button#remove").attr('disabled', false);
                }else{
                    checkbox.parents('tr').removeClass('info');
                    $("button#remove").attr('disabled', true);
                }
            });
            // 设置checkbox的初始化选项
            $("input:checkbox").iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '20%', // optional
                handle: 'checkbox'
            });

            // 点击事件，获取选中的数据
            $("button#remove").click(function(){
                $("tbody tr").find("input:checkbox").each(function(){
                    if (this.checked){
                        console.log(this.value);
                    }
                });
            });
            // 添加资源时，设置资源默认状态，默认为可用
            $("[name='resource_status']").bootstrapSwitch({
                onText: 'Enabled',
                offText: 'Disabled'
            });
        });
    </script>
{% endblock script %}
{% block title %}Resource{% endblock title %}
{% block search %}
    {{frame_search('resource')}}
{% endblock search %}
{% block content %}
    <!-- 面板 -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <!-- 将所有按钮放在一行 -->
            <div class="input-group-btn">
                <div class="bs-bars pull-left">
                    <div id="toolbar">
                        <button id="remove" class="btn btn-danger" disabled="">
                            <i class="glyphicon glyphicon-remove"></i> Delete
                        </button>
                    </div>
                </div>
                <div class="columns columns-right btn-group pull-right">
                    <!-- 添加目录的对话框 -->
                    <button type="button" class="btn btn-default" data-toggle="modal" aria-label="Add" title="Add" data-target="#add_resource">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>


                    <button class="btn btn-default" type="button" name="refresh" aria-label="refresh" title="Refresh">
                        <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                    </button>
                    <button class="btn btn-default" type="button" name="toggle" aria-label="toggle" title="Toggle">
                        <i class="glyphicon glyphicon-list-alt icon-list-alt"></i>
                    </button>
                    <div class="keep-open btn-group" title="Order">
                        <button type="button" aria-label="columns" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem" class="active"><a href="#">Item ID</a></li>
                            <li role="menuitem"><a href="#">Item Name</a></li>
                            <li role="menuitem"><a href="#">Item Price</a></li>
                            <li role="menuitem"><a href="#">Item Operate</a></li>
                        </ul>
                    </div>
                    <div class="export btn-group">
                        <button class="btn btn-default dropdown-toggle" aria-label="export type" title="Export data" data-toggle="dropdown" type="button">
                            <i class="glyphicon glyphicon-export icon-share"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem" data-type="json"><a href="javascript:void(0)">JSON</a></li>
                            <li role="menuitem" data-type="xml"><a href="javascript:void(0)">XML</a></li>
                            <li role="menuitem" data-type="csv"><a href="javascript:void(0)">CSV</a></li>
                            <li role="menuitem" data-type="txt"><a href="javascript:void(0)">TXT</a></li>
                            <li role="menuitem" data-type="sql"><a href="javascript:void(0)">SQL</a></li>
                            <li role="menuitem" data-type="excel"><a href="javascript:void(0)">MS-Excel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pull-right search">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-search"></span>
                    </span>
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                </div>
            </div>

        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="check_all_box" name='check_box[]'>
                    </th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Right Weight</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Rights</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="checkbox" name="check_box[]" value="1">
                    </td>
                    <td scope="row">1</td>
                    <td>User</td>
                    <td><span class="fa fa-resistance">&nbsp;6</span></td>
                    <td><span class="fa fa-unlock"></span></td>
                    <td>2014-11-24 13:16:44</td>
                    <td><a href="#" title="Associated Rights"><span class="glyphicon glyphicon-link"></span></a></td>
                    <td><a href="#" title="Associated Roles"><span class="glyphicon glyphicon-link"></span></a></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Action">
                            <a href="#bind_resource_role" data-toggle="modal" title="Bind Resource's Role"><span class="glyphicon glyphicon-user"></span></a>
                            <a href="#bind_resource_right" data-toggle="modal" title="Bind Resource's Right"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="#" data-toggle="modal" title="Disable Role"><span class="fa fa-lock"></span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <input type="checkbox" name="check_box[]" value="2">
                    </td>
                    <td scope="row">2</td>
                    <td>User</td>
                    <td><span class="fa fa-resistance">&nbsp;6</span></td>
                    <td><span class="fa fa-lock"></span></td>
                    <td>2014-11-24 13:16:44</td>
                    <td><a href="#" title="Associated Rights"><span class="glyphicon glyphicon-link"></span></a></td>
                    <td><a href="#" title="Associated Roles"><span class="glyphicon glyphicon-link"></span></a></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Action">
                            <a href="#bind_resource_role" data-toggle="modal" title="Bind Resource's Role"><span class="glyphicon glyphicon-user"></span></a>
                            <a href="#bind_resource_right" data-toggle="modal" title="Bind Resource's Right"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="#" data-toggle="modal" title="Enable Role"><span class="fa fa-unlock"></span></a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        {{ menu_paging(10, 1, 'http://test.com/page') }}
    </div>
    <!-- 添加资源的具体实现模块 -->
    <div class="modal fade" id="add_resource" tabindex="-1" role="dialog" aria-labelledby="AddResource">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Resource</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="inputResourceName" class="col-sm-3 control-label">Resource Name</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="inputResourceName" placeholder="Resource Name" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputWeight" class="col-sm-3 control-label">Weight</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="inputWeight" placeholder="Weight" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="inputResourceStatus">Resource Status</label>
                            <div class="col-sm-9">
                                <input id="inputResourceStatus" name="resource_status" checked type="checkbox" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 资源绑定角色模块 -->
    <div class="modal fade" id="bind_resource_role" tabindex="-1" role="dialog" aria-labelledby="Bind Resource's Role">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Bind Resource's Role</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputResourceName" class="col-sm-3 control-label">Resource Name</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control" id="inputResourceName" placeholder="Resource Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectinputRoleName" class="col-sm-3 control-label">Role Name</label>
                            <div class="col-sm-8">
                                <select class="selectpicker" multiple data-actions-box="true" id="selectinputRoleName" name="Role Name">
                                    <option data-icon="glyphicon-heart" value="Mustard">Mustard</option>
                                    <option data-icon="fa fa-leaf" value="Ketchup">Ketchup</option>
                                    <option value="control">control</option>
                                    <option value="Username">Username</option>
                                    <option value="Relish">Relish</option>
                                    <option value="RoleName">RoleName</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 资源绑定权限模块 -->
    <div class="modal fade" id="bind_resource_right" tabindex="-1" role="dialog" aria-labelledby="Bind Resource's Right">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Bind Resource's Right</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputResourceName" class="col-sm-3 control-label">Resource Name</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control" id="inputResourceName" placeholder="Resource Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectRight" class="col-sm-3 control-label">Right Name</label>
                            <div class="col-sm-8">
                                <select class="selectpicker" multiple data-actions-box="true" id="selectRight" name="Right">
                                    <option data-icon="glyphicon-heart" value="Mustard">Mustard</option>
                                    <option data-icon="fa fa-leaf" value="Ketchup">Ketchup</option>
                                    <option value="control">control</option>
                                    <option value="Username">Username</option>
                                    <option value="Relish">Relish</option>
                                    <option value="RoleName">RoleName</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebar %}
    {{ admin_menu_navigation('Resource') }}
{% endblock sidebar %}
