{% from 'macro/__frame__.html' import frame_search, menu_paging %}
{% from 'macro/__admin__.html' import admin_menu_navigation %}
{% import 'manage/frame/__macro__.html' as tools %}
{% extends "framework.html" %}
{% block script %}
<!-- bootstrap validator css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrapValidator.min.css') }}" crossorigin="anonymous">
<!-- bootstrap validator js -->
<script src="{{ url_for('static', filename = 'js/bootstrapValidator.min.js') }}" crossorigin="anonymous"></script>
<!-- bootstrap-switch css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-switch.min.css') }}" crossorigin="anonymous">
<!-- bootstrap-switch js -->
<script src="{{ url_for('static', filename = 'js/bootstrap-switch.min.js') }}" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#check_all_box").on('ifChanged',
                function(event){
                    var checkbox = $("input[name='check_box[]']");
                    if(this.checked){
                        checkbox.iCheck('check');
                        $("button#remove").attr('disabled', false);
                    }else{
                        checkbox.iCheck('uncheck');
                        $("button#remove").attr('disabled', true);
                    }
                }
        );
        // 单选和取消 checkbox时，对相关按钮的禁用和启用
        $("input[name='check_box[]']").on('ifChanged', function(e, d){
            var checkbox = $(this);
            if(this.checked){
                checkbox.parents('tr').addClass('info');
                $("button#remove").attr('disabled', false);
            }else{
                checkbox.parents('tr').removeClass('info');
                $("button#remove").attr('disabled', true);
            }
        });
        // 设置checkbox的初始化选项
        $("input:checkbox").iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal',
            increaseArea: '20%', // optional
            handle: 'checkbox'
        });

        // 添加资源时，设置资源默认状态，默认为可用
        $("[name='resource_status']").bootstrapSwitch({
            onText: 'Enabled',
            offText: 'Disabled'
        });
        // 表格校验
        $('#addResourceForm').bootstrapValidator({
            message: 'This value is not valid',
            container: 'tooltip',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    message: 'The resource name is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The resource name is required and cannot be empty'
                        },
                        stringLength: {
                            min: 2,
                            max: 30,
                            message: 'The resource name must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The resource name can only consist of alphabetical, number, dot and underscore'
                        }
                    }
                },
                weight: {
                    container: 'popover',
                    validators: {
                        notEmpty: {
                            message: 'The weight is required and cannot be empty'
                        },
                        regexp: {
                            regexp: /^0x[0-9]+$/,
                            message: 'The weight can only start with 0x and end with number, such as 0x02'
                        }
                    }
                }
            }
        });
        $('#bindResourceRightForm')
                .find('[name="right_ids"]')
                .selectpicker()
                .change(function(e) {
                    /* Revalidate the color when it is changed */
                    $('#bindResourceRightForm').bootstrapValidator('revalidateField', 'right_ids');
                })
                .end()
                .bootstrapValidator({
                    message: 'This value is not valid',
                    container: 'tooltip',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        right_ids: {
                            container: 'popover',
                            validators: {
                                notEmpty: {
                                    message: 'The right name is required and cannot be empty'
                                },
                                callback: {
                                    message: 'Please choose 1-4 right name you use for binding',
                                    callback: function(value, validator, $field) {
                                        // Get the selected options
                                        var options = validator.getFieldElements('right_ids').val();
                                        return (options != null && options.length >= 1 && options.length <= 4);
                                    }
                                }
                            }
                        }
                    }
                });
        $('#bindResourceRoleForm')
                .find('[name="role_ids"]')
                .selectpicker()
                .change(function(e) {
                    /* Revalidate the color when it is changed */
                    $('#bindResourceRoleForm').bootstrapValidator('revalidateField', 'role_ids');
                })
                .end()
                .bootstrapValidator({
                    message: 'This value is not valid',
                    container: 'tooltip',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        role_ids: {
                            container: 'popover',
                            validators: {
                                notEmpty: {
                                    message: 'The role name is required and cannot be empty'
                                },
                                callback: {
                                    message: 'Please choose 1-4 role name you use for binding',
                                    callback: function(value, validator, $field) {
                                        // Get the selected options
                                        var options = validator.getFieldElements('role_ids').val();
                                        return (options != null && options.length >= 1 && options.length <= 4);
                                    }
                                }
                            }
                        }
                    }
                });
    });

    // 绑定资源角色对话框
    function bind_resource_role(name, role_ids){
        console.log(name);
        console.log(role_ids);
        $("#inputBindResourceRoleResourceName").val(name);
        $("#selectBindResourceRoleName option").each(function(){
            for (var i=0;i<role_ids.length;i++){
                if(this.value == role_ids[i]){
                    this.selected = true;
                }
            }
        });
        $("#bind_resource_role").modal('show');
    }
    // 绑定资源权限对话框
    function bind_resource_right(name, right_ids){
        console.log(name);
        console.log(right_ids);
        $("#inputBindResourceRightResourceName").val(name);
        $("#selectBindResourceRightName option").each(function(){
            for (var i=0;i<right_ids.length;i++){
                if(this.value == right_ids[i]){
                    this.selected = true;
                }
            }
        });
        $("#bind_resource_right").modal('show');
    }
</script>
{% endblock script %}
{% block title %}Resource{% endblock title %}
{% block search %}
{{frame_search('resource')}}
{% endblock search %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
<!-- 面板 -->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <!-- 将所有按钮放在一行 -->
        <div class="input-group-btn">
            <div class="bs-bars pull-left">
                <div id="toolbar">
                    <button id="remove" data-ajax-url="{{url_for('manage.delete_resource')}}" class="btn btn-danger" disabled="">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </button>
                </div>
            </div>
            <div class="columns columns-right btn-group pull-right">
                <!-- 添加目录的对话框 -->
                <button type="button" class="btn btn-default" data-toggle="modal" aria-label="Add" title="Add" data-target="#add_resource">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>


                <button class="btn btn-default" type="button" name="refresh" aria-label="refresh" title="Refresh">
                    <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                </button>
                <button class="btn btn-default" type="button" name="toggle" aria-label="toggle" title="Toggle">
                    <i class="glyphicon glyphicon-list-alt icon-list-alt"></i>
                </button>
                <div class="keep-open btn-group" title="Order">
                    <button type="button" aria-label="columns" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" name="order-table">
                        <li><a href="{{ url_for('manage.resource') }}?page={{page}}&page_size={{page_size}}&order_name=id&order_direction=asc">ID</a></li>
                        <li><a href="{{ url_for('manage.resource') }}?page={{page}}&page_size={{page_size}}&order_name=name&order_direction=asc">Username</a></li>
                        <li><a href="{{ url_for('manage.resource') }}?page={{page}}&page_size={{page_size}}&order_name=email&order_direction=asc">Email</a></li>
                        <li><a href="{{ url_for('manage.resource') }}?page={{page}}&page_size={{page_size}}&order_name=telephone&order_direction=asc">Telephone</a></li>
                        <li><a href="{{ url_for('manage.resource') }}?page={{page}}&page_size={{page_size}}&order_name=status&order_direction=asc">Status</a></li>
                        <li><a href="{{ url_for('manage.resource') }}?page={{page}}&page_size={{page_size}}&order_name=role_id&order_direction=asc">Role</a></li>
                        <li><a href="{{ url_for('manage.resource') }}?page={{page}}&page_size={{page_size}}&order_name=create_at&order_direction=asc">Register Time</a></li>
                    </ul>
                </div>
                <div class="export btn-group">
                    <button class="btn btn-default dropdown-toggle" aria-label="export type" title="Export data" data-toggle="dropdown" type="button">
                        <i class="glyphicon glyphicon-export icon-share"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem" data-type="json"><a href="javascript:void(0)">JSON</a></li>
                        <li role="menuitem" data-type="xml"><a href="javascript:void(0)">XML</a></li>
                        <li role="menuitem" data-type="csv"><a href="javascript:void(0)">CSV</a></li>
                        <li role="menuitem" data-type="txt"><a href="javascript:void(0)">TXT</a></li>
                        <li role="menuitem" data-type="sql"><a href="javascript:void(0)">SQL</a></li>
                        <li role="menuitem" data-type="excel"><a href="javascript:void(0)">MS-Excel</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right search">
                <form id="TableSearchForm" action="{{ url_for('manage.resource_search')}}?page={{page}}&page_size={{page_size}}&order_name=id&order_direction=asc" method="post">
                    <input class="form-control" placeholder="Search" id="inputTableSearch" name="content" type="text">
                </form>
            </div>
        </div>

    </div>
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="check_all_box" name='check_box[]'>
                </th>
                <th>ID</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Status</th>
                <th>Time</th>
                <th>Rights</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for resource in resources %}
            <tr>
                <td>
                    <input type="checkbox" name="check_box[]" value={{ resource.id }}>
                </td>
                <td>{{ resource.id }}</td>
                <td>{{ resource.name }}</td>
                <td>{{ resource.weight }}</td>
                <td>
                    {% if resource.status %}
                    <span class="fa fa-unlock"></span>
                    {% else %}
                    <span class="fa fa-lock"></span>
                    {% endif %}
                </td>

                <td>{{ resource.create_at|string|truncate(19, True, end='') }}</td>
                <td><a href="#" title="Associated Rights"><span class="glyphicon glyphicon-link"></span></a></td>
                <td><a href="#" title="Associated Roles"><span class="glyphicon glyphicon-link"></span></a></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Action">
                        <a href="javascript:;" onclick="bind_resource_role('{{resource.name}}','{{resource.role_ids}}')" data-toggle="tooltip" title="Bind Resource's Role"><span class="glyphicon glyphicon-user"></span></a>
                        <a href="javascript:;" onclick="bind_resource_right('{{resource.name}}','{{resource.right_ids}}')" data-toggle="tooltip" title="Bind Resource's Right"><span class="glyphicon glyphicon-edit"></span></a>
                        {% if resource.status %}
                        <a href="{{ url_for('manage.edit_resource_status')}}?resource_id={{resource.id}}&status=0" data-toggle="tooltip" title="Disable Resource"><span class="fa fa-lock"></span></a>
                        {% else %}
                        <a href="{{ url_for('manage.edit_resource_status')}}?resource_id={{resource.id}}&status=1" data-toggle="tooltip" title="Enable Resource"><span class="fa fa-unlock"></span></a>
                        {% endif %}

                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    {{ menu_paging(page_size, page, query_size, current_url) }}
</div>
<!-- 添加资源的具体实现模块 -->
<div class="modal fade" id="add_resource" tabindex="-1" role="dialog" aria-labelledby="AddResource">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="addResourceForm" class="form-horizontal" action="{{ current_url }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Resource</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputAddResourceName" class="col-sm-3 control-label">Resource Name</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputAddResourceName" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddResourceWeight" class="col-sm-3 control-label">Weight</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputAddResourceWeight" placeholder="Weight" name="weight">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inputAddResourceStatus">Resource Status</label>
                        <div class="col-sm-9">
                            <input id="inputAddResourceStatus" name="status" checked type="checkbox" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 资源绑定角色模块 -->
<div class="modal fade" id="bind_resource_role" tabindex="-1" role="dialog" aria-labelledby="Bind Resource's Role">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="bindResourceRoleForm" class="form-horizontal" action="{{ url_for('manage.bind_resource_role') }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Bind Resource's Role</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputBindResourceRoleResourceName" class="col-sm-3 control-label">Resource Name</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="inputBindResourceRoleResourceName" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectBindResourceRoleName" class="col-sm-3 control-label">Role Name</label>
                        <div class="col-sm-8">
                            <select class="selectpicker" multiple data-actions-box="true" id="selectBindResourceRoleName" name="role_ids">
                                <option data-icon="glyphicon-heart" value="1">Mustard</option>
                                <option data-icon="fa fa-leaf" value="2">Ketchup</option>
                                <option value="3">control</option>
                                <option value="4">Username</option>
                                <option value="5">Relish</option>
                                <option value="6">RoleName</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Bind</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 资源绑定权限模块 -->
<div class="modal fade" id="bind_resource_right" tabindex="-1" role="dialog" aria-labelledby="Bind Resource's Right">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="bindResourceRightForm" class="form-horizontal" action="{{ url_for('manage.bind_resource_right') }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Bind Resource's Right</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputBindResourceRightResourceName" class="col-sm-3 control-label">Resource Name</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="inputBindResourceRightResourceName" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectBindResourceRightName" class="col-sm-3 control-label">Right Name</label>
                        <div class="col-sm-8">
                            <select class="selectpicker" multiple data-actions-box="true" id="selectBindResourceRightName" name="right_ids">
                                <option data-icon="glyphicon-heart" value="1">Mustard</option>
                                <option data-icon="fa fa-leaf" value="2">Ketchup</option>
                                <option value="3">control</option>
                                <option value="4">Username</option>
                                <option value="5">Relish</option>
                                <option value="6">RoleName</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Bind</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block sidebar %}
{{ admin_menu_navigation('Resource') }}
{% endblock sidebar %}
