{% from 'macro/__frame__.html' import frame_search, menu_paging %}
{% from 'macro/__admin__.html' import admin_menu_navigation %}
{% extends "framework.html" %}
{% block script %}
<script type="text/javascript">

    $(document).ready(function() {
        // checkbox全选和取消
        $("#check_all_box").on('ifChanged',
                function(event){
                    var checkbox = $("input[name='check_box[]']");
                    if(this.checked){
                        checkbox.iCheck('check');
                        $("button#remove").attr('disabled', false);
                    }else{
                        checkbox.iCheck('uncheck');
                        $("button#remove").attr('disabled', true);
                    }
                }
        );
        // 单选和取消 checkbox时，对相关按钮的禁用和启用
        $("input[name='check_box[]']").on('ifChanged', function(e, d){
            var checkbox = $(this);
            if(this.checked){
                checkbox.parents('tr').addClass('info');
                $("button#remove").attr('disabled', false);
            }else{
                checkbox.parents('tr').removeClass('info');
                $("button#remove").attr('disabled', true);
            }
        });
        // 设置checkbox的初始化选项
        $("input:checkbox").iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal',
            increaseArea: '20%', // optional
            handle: 'checkbox'
        });



        $("[name='order-table']").children('li').click(function(){
            $(this).addClass('active');
            console.log(this);
        });

    });

</script>
{% endblock script %}
{% block title %}Role{% endblock title %}
{% block search %}
{{frame_search('user_role')}}
{% endblock search %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <!-- 将所有按钮放在一行 -->
        <div class="input-group-btn">
            <div class="bs-bars pull-left">
                <div id="toolbar">
                    <button id="remove" data-ajax-url="{{url_for('manage.delete_user_role')}}" class="btn btn-danger" disabled="">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </button>
                </div>
            </div>
            <div class="columns columns-right btn-group pull-right">
                <button class="btn btn-default" type="button" name="refresh" aria-label="refresh" title="Refresh">
                    <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                </button>
                <div class="keep-open btn-group" title="Order">
                    <button type="button" aria-label="columns" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" name="order-table">
                        <li><a href="{{ url_for('manage.user_role', page=page, page_size=page_size, order_name=id, order_direction=asc) }}">ID</a></li>
                        <li><a href="{{ url_for('manage.user_role', page=page, page_size=page_size, order_name=user_name, order_direction=asc) }}">User Name</a></li>
                        <li><a href="{{ url_for('manage.user_role', page=page, page_size=page_size, order_name=role_name, order_direction=asc) }}">Role Name</a></li>
                    </ul>
                </div>
                <div class="export btn-group">
                    <button class="btn btn-default dropdown-toggle" aria-label="export type" title="Export data" data-toggle="dropdown" type="button">
                        <i class="glyphicon glyphicon-export icon-share"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem" data-type="json"><a href="javascript:void(0)">JSON</a></li>
                        <li role="menuitem" data-type="xml"><a href="javascript:void(0)">XML</a></li>
                        <li role="menuitem" data-type="csv"><a href="javascript:void(0)">CSV</a></li>
                        <li role="menuitem" data-type="txt"><a href="javascript:void(0)">TXT</a></li>
                        <li role="menuitem" data-type="sql"><a href="javascript:void(0)">SQL</a></li>
                        <li role="menuitem" data-type="excel"><a href="javascript:void(0)">MS-Excel</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right search">
                <form id="TableSearchForm" action="{{ url_for('manage.user_role')}}" method="post">
                    <input class="form-control" placeholder="Search" id="inputTableSearch" name="content" type="text">
                </form>
            </div>
        </div>

    </div>
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="check_all_box" name='check_box[]'>
                </th>
                <th>ID</th>
                <th>User Name</th>
                <th>Role Name</th>
            </tr>
            </thead>
            <tbody>
            {% for user_role in user_role_lists %}
            <tr>
                <td>
                    <input type="checkbox" name="check_box[]" value="{{ user_role.id }}">
                </td>
                <td>{{ user_role.id }}</td>
                <td>{{ user_role.user_name }}</td>
                <td>{{ user_role.role_name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ menu_paging(page_size, page, query_size, current_url) }}
</div>
{% endblock content %}

{% block sidebar %}
{{ admin_menu_navigation('User Role') }}
{% endblock sidebar %}

