{% from 'macro/__frame__.html' import frame_search, menu_paging %}
{% from 'macro/__admin__.html' import admin_menu_navigation %}
{% extends "framework.html" %}
{% block script %}
<!-- bootstrap validator css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrapValidator.min.css') }}" crossorigin="anonymous">
<!-- bootstrap validator js -->
<script src="{{ url_for('static', filename = 'js/bootstrapValidator.min.js') }}" crossorigin="anonymous"></script>
<!-- bootstrap-switch css -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-switch.min.css') }}" crossorigin="anonymous">
<!-- bootstrap-switch js -->
<script src="{{ url_for('static', filename = 'js/bootstrap-switch.min.js') }}" crossorigin="anonymous"></script>
<script type="text/javascript">

    $(document).ready(function() {
        // checkbox全选和取消
        $("#check_all_box").on('ifChanged',
                function(event){
                    var checkbox = $("input[name='check_box[]']");
                    if(this.checked){
                        checkbox.iCheck('check');
                        $("button#remove").attr('disabled', false);
                    }else{
                        checkbox.iCheck('uncheck');
                        $("button#remove").attr('disabled', true);
                    }
                }
        );
        // 单选和取消 checkbox时，对相关按钮的禁用和启用
        $("input[name='check_box[]']").on('ifChanged', function(e, d){
            var checkbox = $(this);
            if(this.checked){
                checkbox.parents('tr').addClass('info');
                $("button#remove").attr('disabled', false);
            }else{
                checkbox.parents('tr').removeClass('info');
                $("button#remove").attr('disabled', true);
            }
        });
        // 设置checkbox的初始化选项
        $("input:checkbox").iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal',
            increaseArea: '20%', // optional
            handle: 'checkbox'
        });

        // 刷新页面
        $('button[name="refresh"]').click(function(){
            location.reload();
        });

        $("[name='order-table']").children('li').click(function(){
            $(this).addClass('active');
            console.log(this);
        });

        // 表格校验
        $('#sendUserEmailForm').bootstrapValidator({
            message: 'This value is not valid',
            container: 'tooltip',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                email_to: {
                    container: 'popover',
                    validators: {
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                },
                email_subject: {
                    container: 'popover',
                    validators: {
                        notEmpty: {
                            message: 'The email subject is required and cannot be empty'
                        }
                    }
                },
                email_content: {
                    validators: {
                        notEmpty: {
                            message: 'The email content is required and cannot be empty'
                        }
                    }
                }
            }
        });
        $('#editUserInformationForm').bootstrapValidator({
            message: 'This value is not valid',
            container: 'tooltip',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The username is required and cannot be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        },
                        different: {
                            field: 'password',
                            message: 'The username and password cannot be the same as each other'
                        }
                    }
                },
                email: {
                    container: 'popover',
                    validators: {
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                },
                password: {
                    container: 'popover',
                    validators: {
                        notEmpty: {
                            message: 'The password is required and cannot be empty'
                        },
                        different: {
                            field: 'username',
                            message: 'The password cannot be the same as username'
                        }
                    }
                },
                real_name: {
                    container: 'popover',
                    validators: {
                        notEmpty: {
                            message: 'The password is required and cannot be empty'
                        },
                        different: {
                            field: 'username',
                            message: 'The password cannot be the same as username'
                        }
                    }
                },
                telephone: {
                    container: 'popover',
                    validators: {
                        phone: {
                            message: 'The input is not a valid CZ phone number',
                            country: 'CZ'
                        }
                    }
                },
                identity_card_number: {
                    container: 'popover',
                    validators: {
                        stringLength: {
                            min: 18,
                            max: 18,
                            message: 'The identity card number must be 18 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9]+$/,
                            message: 'The input is not a valid identity card number'
                        }
                    }
                }
            }
        });
        $('#addUserForm').bootstrapValidator({
            message: 'This value is not valid',
            container: 'tooltip',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The username is required and cannot be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        },
                        different: {
                            field: 'password',
                            message: 'The username and password cannot be the same as each other'
                        }
                    }
                },
                email: {
                    container: 'popover',
                    validators: {
                        notEmpty: {
                            message: 'The email is required and cannot be empty'
                        },
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                },
                password: {
                    container: 'popover',
                    validators: {
                        notEmpty: {
                            message: 'The password is required and cannot be empty'
                        },
                        different: {
                            field: 'username',
                            message: 'The password cannot be the same as username'
                        },
                        identical: {
                            field: 'confirmPassword',
                            message: 'The password and its confirm are not the same'
                        }
                    }
                },
                repeat_password: {
                    validators: {
                        notEmpty: {
                            message: 'The confirm password is required and can\'t be empty'
                        },
                        identical: {
                            field: 'password',
                            message: 'The password and its confirm are not the same'
                        }
                    }
                }
            }
        });
        $('#bindUserRoleForm').bootstrapValidator({
            message: 'This value is not valid',
            container: 'tooltip',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The username is required and cannot be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        },
                        different: {
                            field: 'password',
                            message: 'The username and password cannot be the same as each other'
                        }
                    }
                },
                role_name: {
                    container: 'popover',
                    validators: {
                        notEmpty: {
                            message: 'The role name is required and cannot be empty'
                        }
                    }
                }
            }
        });
    });
    // 发送邮件对话框
    function send_email(name, email){
        $("#inputEmailTo").val(email);
        $("#send_email").modal('show');
    }
    // 编辑用户信息对话框
    function edit_user_information(name, email, real_name, telephone, identity_card_number){
        $("#inputEditUserName").val(name);
        $("#inputEditUserEmail").val(email);
        $("#inputEditUserRealName").val(real_name);
        $("#inputEditUserTelephone").val(telephone);
        $("#inputEditUserIdentityCardNumber").val(identity_card_number);
        $("#edit_user_information").modal('show');
    }

    // 重置用户密码对话框
    function reset_user_password(name, email){
        $("#inputResetPasswordUsername").val(name);
        $("#inputResetPasswordEmail").val(email);
        $("#reset_user_password").modal('show');
    }
    // 绑定用户角色对话框
    function bind_user_role(name, role_id){
        $("#inputBindUserRoleUsername").val(name);
        $("#inputBindUserRoleName option").each(function(){
            if(this.value == role_id){
                this.selected = true;
            }
        });
        $("#bind_user_role").modal('show');
    }

</script>

{% endblock script %}
{% block title %}User{% endblock title %}
{% block search %}
{{frame_search('user')}}
{% endblock search %}

{% block content %}
<!-- 面板 -->

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <!-- 将所有按钮放在一行 -->
        <div class="input-group-btn">
            <div class="bs-bars pull-left">
                <div id="toolbar">
                    <button id="remove" data-ajax-url="{{url_for('manage.delete_user')}}" class="btn btn-danger" disabled="">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </button>
                </div>
            </div>
            <div class="columns columns-right btn-group pull-right">
                <!-- 添加目录的对话框 -->
                <button type="button" class="btn btn-default" data-toggle="modal" aria-label="Add" title="Add" data-target="#add_user">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>


                <button class="btn btn-default" type="button" name="refresh" aria-label="refresh" title="Refresh">
                    <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                </button>
                <button class="btn btn-default" type="button" name="toggle" aria-label="toggle" title="Toggle">
                    <i class="glyphicon glyphicon-list-alt icon-list-alt"></i>
                </button>
                <div class="keep-open btn-group" title="Order">
                    <button type="button" aria-label="columns" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" name="order-table">
                        <li><a href="{{ url_for('manage.user') }}?page={{page}}&page_size={{page_size}}&order_name=id&order_direction=asc">ID</a></li>
                        <li><a href="{{ url_for('manage.user') }}?page={{page}}&page_size={{page_size}}&order_name=name&order_direction=asc">Username</a></li>
                        <li><a href="{{ url_for('manage.user') }}?page={{page}}&page_size={{page_size}}&order_name=email&order_direction=asc">Email</a></li>
                        <li><a href="{{ url_for('manage.user') }}?page={{page}}&page_size={{page_size}}&order_name=telephone&order_direction=asc">Telephone</a></li>
                        <li><a href="{{ url_for('manage.user') }}?page={{page}}&page_size={{page_size}}&order_name=status&order_direction=asc">Status</a></li>
                        <li><a href="{{ url_for('manage.user') }}?page={{page}}&page_size={{page_size}}&order_name=role_id&order_direction=asc">Role</a></li>
                        <li><a href="{{ url_for('manage.user') }}?page={{page}}&page_size={{page_size}}&order_name=create_at&order_direction=asc">Register Time</a></li>
                    </ul>
                </div>
                <div class="export btn-group">
                    <button class="btn btn-default dropdown-toggle" aria-label="export type" title="Export data" data-toggle="dropdown" type="button">
                        <i class="glyphicon glyphicon-export icon-share"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem" data-type="json"><a href="javascript:void(0)">JSON</a></li>
                        <li role="menuitem" data-type="xml"><a href="javascript:void(0)">XML</a></li>
                        <li role="menuitem" data-type="csv"><a href="javascript:void(0)">CSV</a></li>
                        <li role="menuitem" data-type="txt"><a href="javascript:void(0)">TXT</a></li>
                        <li role="menuitem" data-type="sql"><a href="javascript:void(0)">SQL</a></li>
                        <li role="menuitem" data-type="excel"><a href="javascript:void(0)">MS-Excel</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right search">
                <form id="TableSearchForm" action="{{ url_for('manage.user_search')}}?page={{page}}&page_size={{page_size}}&order_name=id&order_direction=asc" method="post">
                    <input class="form-control" placeholder="Search" id="inputTableSearch" name="content" type="text">
                </form>
            </div>
        </div>

    </div>
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="check_all_box" name='check_box[]'>
                </th>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Status</th>
                <th>Role</th>
                <th>Register Time</th>
                <th>Details</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <input type="checkbox" name="check_box[]" value={{ user.id }}>
                </td>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.telephone %}{{ user.telephone }}{% else %}--{% endif %}</td>
                <td>
                    {% if user.status %}
                    <span class="fa fa-unlock"></span>
                    {% else %}
                    <span class="fa fa-lock"></span>
                    {% endif %}
                </td>

                <td>{{ user.role_id }}</td>
                <td>{{ user.create_at|string|truncate(19, True, end='') }}</td>
                <td><a href="{{ url_for('manage.user_profile')}}" title="Show User's Profile" target="_blank"><span class="fa fa-user-md"></span></a> </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Action">
                        <a href="javascript:;" onclick="send_email('{{user.name}}','{{user.email}}')" title="Send Email"><span class="fa fa-envelope-o"></span> </a>
                        <a href="javascript:;" onclick="edit_user_information('{{user.name}}','{{user.email}}', '{{user.real_name}}','{{user.telephone}}', '{{user.identity_card_number}}')" title="Edit User's Information"><span class="fa fa-edit"></span></a>
                        <a href="javascript:;" onclick="reset_user_password('{{user.name}}','{{user.email}}')" title="Reset User's Password"><span class="fa fa-key"></span></a>
                        <a href="javascript:;" onclick="bind_user_role('{{user.name}}','{{user.role_id}}')" title="Bind user's role"><span class="fa fa-adjust"></span></a>
                        {% if user.status %}
                        <a href="{{ url_for('manage.edit_user_status')}}?user_id={{user.id}}&status=0" title="Disable User"><span class="fa fa-lock"></span></a>
                        {% else %}
                        <a href="{{ url_for('manage.edit_user_status')}}?user_id={{user.id}}&status=1" title="Enable User"><span class="fa fa-unlock"></span></a>
                        {% endif %}

                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ menu_paging(page_size, page, query_size, current_url) }}
</div>

<!-- 添加用户的具体实现模块 -->
<div class="modal fade" id="add_user" tabindex="-1" role="dialog" aria-labelledby="AddUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="addUserForm" class="form-horizontal" action="{{ current_url }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add User</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user">&nbsp;Name</span></span>
                                <input type="text" class="form-control" placeholder="Username" name="username">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-envelope-o">&nbsp;Email</span></span>
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div><!-- /input-group -->
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-key"></span>&nbsp;Password</span>
                                <input class="form-control" placeholder="******" name="password" type="password">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-key">&nbsp;Repeat-Password</span></span>
                                <input class="form-control" placeholder="******" name="repeat_password" type="password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 修改用户的角色模块 -->
<div class="modal fade" id="bind_user_role" tabindex="-1" role="dialog" aria-labelledby="Bind User's Role">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="bindUserRoleForm" class="form-horizontal" action="{{ url_for('manage.bind_user_role') }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Bind User's Role</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputBindUserRoleUsername" class="col-sm-3 control-label">User Name</label>
                        <div class="col-sm-8">
                            <input type="text" disabled class="form-control" id="inputBindUserRoleUsername" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBindUserRoleName" class="col-sm-3 control-label">Role Name</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="inputBindUserRoleName" name="role_name">
                                <option value="0">None</option>
                                <option value="1">Administrator</option>
                                <option value="2">User</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Bind role</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 修改用户的个人信息模块 -->
<div class="modal fade" id="edit_user_information" tabindex="-1" role="dialog" aria-labelledby="Edit User's Information">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editUserInformationForm" class="form-horizontal" method="post" action="{{ url_for('manage.edit_user_info') }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit User's Information</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input type="text" class="form-control" placeholder="Username" id="inputEditUserName" name="username">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                <input type="email" class="form-control" placeholder="Email" id="inputEditUserEmail" name="email">
                            </div><!-- /input-group -->
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user-md"></span></span>
                                <input type="text" class="form-control" id="inputEditUserRealName" placeholder="RealName" name="real_name">
                            </div><!-- /input-group -->
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                <input type="text" class="form-control" id="inputEditUserTelephone" placeholder="Telephone" name="telephone">
                            </div><!-- /input-group -->
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" id="inputEditUserIdentityCardNumber" name="identity_card_number" placeholder="Identity Card Number">
                            </div><!-- /input-group -->
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 发送邮件模块 -->
<div class="modal fade" id="send_email" tabindex="-1" role="dialog" aria-labelledby="Send Email">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="sendUserEmailForm" class="form-horizontal" method="post" action="{{ url_for('manage.send_user_email') }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Send Email</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmailTo" class="col-sm-2 control-label">Email To</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" readonly id="inputEmailTo" name="email_to" placeholder="email_to_address@test.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmailSubject" class="col-sm-2 control-label">Subject</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmailSubject" name="email_subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputContent" class="col-sm-2 control-label">Content</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="inputContent" name="email_content" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 重置密码模块 -->
<div class="modal fade" id="reset_user_password" tabindex="-1" role="dialog" aria-labelledby="Reset User's Password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="resetUserPasswordForm" class="form-horizontal" method="post" action="{{ url_for('manage.reset_user_password') }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Reset User's Password</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input type="text" class="form-control" placeholder="Username" id="inputResetPasswordUsername" name="username">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                <input type="text" class="form-control" placeholder="Email" id="inputResetPasswordEmail" name="email">
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block sidebar %}
{{ admin_menu_navigation('User') }}
{% endblock sidebar %}

